# ------------------------------- POSTGRESQL Config -------------------------------
PG_USER = "devAdmin"
PG_HOST = "172.27.28.21"
PG_PASSWORD = "Tanobelj4y4"
PG_PORT = 5432

# --------------------------Config Gin Gonic-------------------------------
APP_NAME = github.com/sasmeka/water_monitoring
PORT = 8092
GIN_MODE = debug
LOGIN_TIME = 1440
JWTSECRET = ajiksdbnajibdwujiabdjiawbdjiaw djiawbdjiawbndjiawdbjiawdbji

# --------------------------Redis-------------------------------
REDISDB = localhost:6379
REDISDBPOLL = 100
REDISDBMINIDLE = 20